/* .subparagraph {
  font-family: Helvetica,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  color: #080808;
  line-height: 1.6em;
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .firstParagraph {
  text-align: end;
  margin-top: 3%;
  margin-right: 58.5rem;
}

.subparagraph {
  text-align: end;
  margin-top: 0%;
  margin-right: 12%;
}

.mylist {
  margin-left: 55%;
} */