footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.firstParagraph {
  text-align: end;
  margin-top: 3%;
  margin-right: 58.5rem;
}

.subparagraph {
  text-align: end;
  margin-top: 0%;
  margin-right: 30%;
}